:root {
    --base00: #fdf6e3;
    --base01: #eee8d5;
    --base02: #93a1a1;
    --base03: #839496;
    --base04: #657b83;
    --base05: #586e75;
    --base06: #073642;
    --base07: #002b36;
    --base08: #dc322f;
    --base09: #cb4b16;
    --base0A: #b58900;
    --base0B: #859900;
    --base0C: #2aa198;
    --base0D: #268bd2;
    --base0E: #6c71c4;
    --base0F: #d33682;

    /**
     * Typograph
     */
    --font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-size-scaler: 62.5%; /* 1rem = 10px */
    --font-size-m: 1.6rem;
    --font-size-s: 1.4rem;

    /**
     * Components
     */
    --body-color: var(--base07);
    --body-bg: var(--base01);

    --daily-heading-color: var(--base04);

    --source-name-color: var(--base0D);
    --source-name-hover-color: var(--base0D);

    --article-title-color: var(--base05);
    --article-title-hover-color: var(--base0E);
    --article-summary-hover-color: var(--base0D);
    --article-summary-color: var(--base04);

    --accordion-content-rail-color: var(--base01);
    --accordion-content-hover-rail-color: var(--base0D);
    --accordion-title-marker-color: var(--base01);
    --accordion-title-hover-marker-color: var(--base0E);

    --card-bg: var(--base00);
    --card-shadow: none;
    --card-radius: 4px;

    --footer-color: var(--base04);
    --footer-link-hover-color: var(--base0D);
}

html {
    font-size: var(--font-size-scaler);
}

body {
    background-color: var(--body-bg);
    font-family: var(--font-family-default);
    color: var(--body-color);
    margin: 0;
    gap: 24px;
    padding: 16px;
    display: grid;
}

:not(:focus-visible) {
    outline: none;
}

a {
    color: var(--article-summary-color);
    font-size: var(--font-size-m);
}

.card {
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    background: var(--card-bg);
    border: 1px solid var(--base02);
}

.sources {
    padding: 12px 16px;
    list-style: none;
    margin: 0 auto;
    display: grid;
    gap: 16px;
    width: 90%;
    max-width: 1200px;
}

.daily-heading {
    font-size: var(--font-size-m);
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 8px;
    color: var(--daily-heading-color);
    width: 90%;
    max-width: 1200px;
    padding-left: 0;
}

.source {
    display: grid;
    gap: 4px;
}

.source-name {
    font-size: var(--font-size-s);
    font-weight: 400;
    margin: 0;
}

.source-name__link {
    color: var(--source-name-color);
    text-decoration: none;
}

.source-name__link:hover {
    color: var(--source-name-hover-color);
    text-decoration: underline;
}

.article-expander {
    padding: 10px 4px;
    border-radius: 4px;
}

.article-authors {
    font-size: var(--font-size-m);
    padding: 0.25em 1em;
}

.article-expander__title {
    color: var(--article-title-color);
    font-size: var(--font-size-m);
    font-weight: 600;
}

.article-expander__title:hover {
    cursor: pointer;
    color: var(--article-title-hover-color);
}

.article-expander__title::marker {
    color: var(--accordion-title-marker-color);
}

.article-expander__title:hover::marker {
    color: var(--accordion-title-hover-marker-color);
}

.article-summary-link {
    color: var(--article-summary-color);
    font-size: var(--font-size-m);
    text-decoration: none;
}

.article-summary-link:hover {
    color: var(--article-summary-hover-color);
    --accordion-content-rail-color: var(--accordion-content-hover-rail-color);
}

.article-summary-box-outer {
    display: block;
    padding: 4px 8px 8px 4px;
}

.article-summary-box-inner {
    padding-left: 8px;
    border-left: 1px solid var(--accordion-content-rail-color);
}

.article-reading-time {
    font-weight: 600;
}

footer {
    margin: 0 auto;
    color: var(--footer-color);
    font-size: var(--font-size-s);
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
}


.highlight_author {
    color: var(--base0B);
    font-weight: bold;
}

.highlight_title {
    color: var(--base08);
    font-weight: bold;
}